.container{
  border:5px solid black;
  width:auto;
  height:auto;
  overflow:hidden;}
.header{
  background-color:black;
  padding:30px;
}
.logo{
  text-align:center;
  color:white;
  padding-left:40%;
  font-size:60px;
  font-weight:bold;
  font-style:italic;
  font-family:Cursive;
  letter-spacing: 3px;}
.slide{
  background:rgba(255,0,0,0.7);
  overflow:hidden;

}
.dashA{
  background:rgba(255, 0, 0, 0.4);
  float:left;
  width:70%;
  padding:5px;
  margin:10px;
  border-radius:6px;
  }
.selected{
  color:black;
  
}
ul.nav{
  list-style-type:none;}
li{
  display:inline;
  padding:60px;}
li a{
  text-decoration:none;
  text-align:center;
  color:black;
  letter-spacing:2px;
  font-family:Cursive;
  font-weight:bold;
  font-size:20px;}
li a:hover{
  background-color:black;
  color:white;
  padding:10px;
  border-radius:4px;
}  
li a:active{
  background-color:white;
}

.dashB{
  background:rgba(255, 0, 0, 0.4);
  padding:20px;
  margin:10px;
  border-radius:6px;
  width:10%;
  float:right;
  text-align:center;
  font-family: Cursive;
  font-size:20px;
  font-weight:bold;
  letter-spacing: 2px; 
  }
h1{
  font-weight:bold;
  letter-spacing:2px;
  font-family:Serif;
  font-size:40px;
  color:black;
}
input[type=submit]{
  background-color:green;
  color:white;
  border:2px solid black;
  padding:5px;
  border-radius:4px;

}

.form{
  background:rgba(255, 0, 0, 0.7);
  color:black;
  padding:40px;
  width:100%;
  height:auto;
  font-weight:bold;
  left-padding:50%;
  overflow:auto;
  float:left;
}
#form_content{
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  background:rgba(255, 0, 0, 0.4);
  padding:40px;
  border-radius:4px;}
.line{
  border-width: 3px;
  color:black;
  background-color: black;
}
.out_body{
  background: rgba(255, 0, 0, 0.7 );
  padding:20px;
}
.dropdown{
  overflow:hidden;
}
.dropdown .dropbtn{
  color:green;
  outline:none;
  font-weight:bold;
  
}
.dropdown:hover .dropbtn{
  background-color:black;
  color:white;
  border:none;
  padding:7px;
  border-radius:6px;
}
.content{
  display: none;
  position:absolute;
}
.content a{
  float:none;
  background-color: black;
  color:white;
  text-align;left;
  text-decoration:none;
  padding:7px;
  border-radius:6px;
  font-family: serf;
  font-size:11px;
  letter-spacing: 0px;
  
}
.content a:hover{
    background-color:red;
  }
.dropdown:hover .content{
  display: block;
}
ul.messages{
  background-color: black;
  padding:15px;
  text-align:center;
  letter-spacing: 3px;
  font-weight:bold;
  border-radius: 6px;
  margin:2px;
  
}
ul.messages li.success{
  background-color: green;
  padding:14px;
  border-radius:10px;
  
}
ul.messages li.error{
  background-color: red;
  padding:14px;
  border-radius:10px;
  color:black;
}


.close{
  background-color: black;
  padding:5px;
  border-radius:10px;
  color:white;
}

.social{
 float:right;
  margin:60px;
}
.social li{
   list-style:none;
    padding:0px;
  margin:100px;
  
}.
.social li a {
    width:100%;
    height:100%;
    display:block;
    color:#fff;
}
.social li.facebook { background:#3b5399;
  padding-top:20px;
padding-right:10px;
  padding-right:10px}
.social li.twitter { background:#00cffa; }
.social li.google { background:#de1710;
padding-bottom: 20px;
  padding-right: 10px;
  padding-left:10px
}
.formA{
  float:left;
}
.button_book{
  background-color:green;
  padding:3px;
  margin:5px;
  border-radius:5px;
  text-decoration: none;
  
  
}

.image-preview, .image-detail {
  max-width:300px;
  float:left;
  margin:0 20px 20px 0;
}
.image-detail {margin-top:20px; }
.image-info div {
  padding:20px 0;
  overflow:auto;
}
.count {
  color:#aaa;
  border:3px solid #bbb;
  border-radius:26px;
  padding:10px 20px;
  margin:20px 10px 0;
}
a.like, a.follow { 
  text-decoration:none;
  background-color:green;
  padding:10px;
  border-radius:5px;
  color:white;
  font-weight:bold;
  letter-spacing: 2px;}
.images {
  float:left;
  margin:0 10px 10px 10px;
 
}
.images img { 
  margin:3px;
  width:180px;
  height:180px;
  border-top:8px solid #12c064;
  border-radius: 2px;
}
.images .info a{ 
  padding:5px;
  text-decoration: none;
  color:black;
  
  
  }
#image-list .info a { color:#333; }
.image-likes div {
  float:left;
  width:auto;
  padding:10px;
  text-align:center;
}
.image-likes img {
  width:120px;
  height:120px;
  border-radius:50%;
}

#people-list img {
  width:100px;
  height:100px;
  border-radius:50%;
  margin-bottom:10px;
  background-color:white;
  padding:2px;
}
#people-list .user {
  width:180px;
  float:left;
  overflow:auto;
  padding:10px;
}
#people-list .info a{
  text-decoration: none;
  padding:2px;
  color:black;
  background-color:white;
  border-radius:6px;
}
img.user-detail {
  border-radius:50%;
  float:left;
}
.profile-info {
  float:left;
  overflow:auto;
  margin-right:20px;
}
.image-container { margin-top:40px; }
.action {
  clear:both;
  overflow:auto;
}
.action .images {
  float:left;
  margin:0 10px 10px 0;
}
.action .date {
  font-style:italic;
  color:#ccc;
}
.action .info a{
  text-decoration: none;
  
}
