.container{
  border:5px solid black;
  width:auto;
  height:auto;
  overflow:hidden;}
.header{
  background-color:black;
  padding:30px;
}
.logo{
  text-align:center;
  color:white;
  padding-left:40%;
  font-size:60px;
  font-weight:bold;
  font-style:italic;
  font-family:Cursive;
  letter-spacing: 3px;}
.slide{
  background:rgba(255,0,0,0.7);
  overflow:hidden;

}
.dashA{
  background:rgba(255, 0, 0, 0.4);
  float:left;
  width:70%;
  padding:5px;
  margin:10px;
  border-radius:6px;
  }
.selected{
  color:black;
  
}
ul.nav{
  list-style-type:none;}
li{
  display:inline;
  padding:60px;}
li a{
  text-decoration:none;
  text-align:center;
  color:black;
  letter-spacing:2px;
  font-family:Cursive;
  font-weight:bold;
  font-size:20px;}
li a:hover{
  background-color:black;
  color:white;
  padding:10px;
  border-radius:4px;
}  
li a:active{
  background-color:white;
}

.dashB{
  background:rgba(255, 0, 0, 0.4);
  padding:20px;
  margin:10px;
  border-radius:6px;
  width:10%;
  float:right;
  text-align:center;
  font-family: Cursive;
  font-size:20px;
  font-weight:bold;
  letter-spacing: 2px; 
  }
h1{
  font-weight:bold;
  letter-spacing:2px;
  font-family:Serif;
  font-size:40px;
  color:black;
}
input[type=submit]{
  background-color:green;
  color:white;
  border:2px solid black;
  padding:5px;
  border-radius:4px;

}

.form{
  background:rgba(255, 0, 0, 0.7);
  color:black;
  padding:40px;
  width:auto;
  height:auto;
  font-weight:bold;
  left-padding:50%;
  overflow:auto;
}
#form_content{
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  background:rgba(255, 0, 0, 0.4);
  padding:40px;
  border-radius:4px;}
.line{
  border-width: 3px;
  color:black;
  background-color: black;
}
.out_body{
  background: rgba(255, 0, 0, 0.7 );
  padding:20px;
}
.dropdown{
  overflow:hidden;
}
.dropdown .dropbtn{
  color:green;
  outline:none;
  font-weight:bold;
  
}
.dropdown:hover .dropbtn{
  background-color:black;
  color:white;
  border:none;
  padding:7px;
  border-radius:6px;
}
.content{
  display: none;
  position:absolute;
}
.content a{
  float:none;
  background-color: black;
  color:white;
  text-align;left;
  text-decoration:none;
  padding:7px;
  border-radius:6px;
  font-family: serf;
  font-size:11px;
  letter-spacing: 0px;
  
}
.content a:hover{
    background-color:red;
  }
.dropdown:hover .content{
  display: block;
}
  
}
