{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href ="{% static "css/base.css"  %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <span class="logo">Kijiweni.</span>
      </div>
      <div class="slide">
        <div class="dashA">
        {% if request.user.is_authenticated %}
        <ul class="nav">
          <li{% if section == "dashboard" %}{% endif %}>
            <a href="{% url "dashboard" %}">My Dashboard</a>
          </li>
          <li{% if section == "images" %}{% endif %}>
            <a href="{% url "images:list" %}">Images</a>
          </li>
          <li{% if section == "people" %}{% endif %}>
            <a href="">People</a>
          </li>
        </ul>
        {% endif %}
        </div>
        <div class="dashB">
          <span class="user">
            {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }},
            <a href="{% url "logout" %}">Logout</a>
            <div class="dropdown">
              <button class="dropbtn">Profile</button>
              <div class="content">
                <a href="{% url "password_change" %}">change password</a>
                <a href="{% url "edit" %}">edit profile</a>
              </div>
            </div>
            {% else %}
            <a href="{% url "login" %}">Login</a>
            {% endif %}
          </span>
        </div>
      </div>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
          <a href="{% url "dashboard" %}" class ="close">X</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <div id="content">
        {% block content%}
        {% endblock %}
      </div>
    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
     <script>
       var csrftoken = Cookies.get('csrftoken');
       function csrfSafeMethod(method){
                // these HTTP methods are safe do not require CSRF
                //protection
                return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }
       $.ajaxSetup({
                beforeSend: function(xhr, settings){
                         if (!csrfSafeMethod(settings.type) && !this.crossDomain){
                                              xhr.setRequestHeader("X-CSRFToken",csrftoken);
                                            }
                                }
                    });
      $(document).ready(function(){
               {% block domready %}
               {% endblock%}
                    });
        </script>
   
  </body>
</html>

